header{
    margin: auto;
}

h1,h2{
        color: rgb(250, 226, 10);
        zoom: calc(400%);
}

.centralizar{
    text-align: center;
}

#inicio{
    width: 100%;
    height: 100%;
    padding: auto;
    background-image:url(capa.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;     
}

.atencao{
    clear: both;
    text-align: center;
    zoom: 150%;
    color: rgb(177, 72, 247);
}

.menu{
    float: left;
    width: 25%;
    border: 40px transparent;
    text-align: center;
    clear:both;
}

.quemsomos{
    clear:both;
    text-align: center;
    color: rgb(177, 72, 247);
    zoom: 200%;
}

.contato{
    text-align: center;
    border: 10px rgb(177, 72, 247);
}
.creditos{
column-rule-style: solid color rgb(177, 72, 247);

}
h6{
    text-align: center;
}
